node_modules
npm-debug.log
Dockerfile
.docker*
.dockerignore
.git
.gitignore
.env
.env.*
!/.env.example
# dist is built inside the container, so ignore local dist
dist 
# Ignore npm and yarn lockfiles
package-lock.json
yarn.lock

